# Ignore Gradle project-specific cache directory
.gradle

.project
.classpath
.settings/
*/bin/

# Ignore Gradle build output directory
build

.cifuzz-*/
*_inputs
crash-*

# ignore findings for example projects
*/src/test/resources/
